<div class="token" [ngStyle]="{'background-color': token.borderColor}">
    <header>
        <ng-container *appTokenHeaderFor="token; let isInput = isInput; let inputIndex = inputIndex; let text = text">
            <ng-container [ngSwitch]="text">
                <app-token-header-input *ngSwitchCase="'input'" [token]="token"
                                        [index]="inputIndex"></app-token-header-input>
                <div *ngSwitchCase="'newline'" class="flex-break"></div>
                <span *ngSwitchDefault [innerHTML]="text"></span>
            </ng-container>
        </ng-container>
    </header>
    <div class="inner flex-fill" [ngStyle]="getInnerStyle()" (mouseup)="onMouseUpInner($event)" *ngIf="token.acceptsChildren">
        <ng-content></ng-content>
    </div>
</div>
