<app-card [title]="'Tokens'">
    <!--suppress HtmlUnknownBooleanAttribute -->
    <ng-container cardHeader>
        <input matInput class="ms-auto simple-input" (input)="onInputQuery($event)"/>
    </ng-container>

    <div class="tokens">
        <ng-container *ngFor="let token of getTokens(); let i = index">
        <span (mousedown)="dragService.startDragging(token.clone())">
            <app-regex-token-graphics [token]="token"></app-regex-token-graphics>
        </span>
        </ng-container>
    </div>
</app-card>
