<app-card [title]="'Builder'">
    <app-simple-error *ngFor="let error of regexBuilder.result.generalErrors" [error]="error"></app-simple-error>

    <!--suppress HtmlUnknownBooleanAttribute -->
    <div class="ms-auto" cardHeader>
        <button mat-icon-button matTooltip="Save" (click)="save()">
            <mat-icon>save</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Add variable" (click)="regexBuilder.newVariable()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Clear all" (click)="regexBuilder.clear()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <app-regex-token [token]="regexBuilder.mainRegexToken"></app-regex-token>
    <app-simple-error [error]="regexBuilder.result.errors.get('Regex')"></app-simple-error>

    <hr *ngIf="regexBuilder.userDefinedVariables.length !== 0"/>

    <app-regex-variable *ngFor="let variable of regexBuilder.userDefinedVariables"
                        [token]="variable"></app-regex-variable>

    <hr/>

    <app-regex-token-disposal>
        <app-available-tokens [variables]="regexBuilder.variables"></app-available-tokens>
    </app-regex-token-disposal>

    <app-dragging-element *ngIf="dragService.currentlyDragging" [nestCount]="2">
        <app-regex-token [token]="dragService.currentlyDragging">
            <div class="children" *ngIf="dragService.currentlyDragging.acceptsChildren">
                <app-regex-token *ngFor="let child of dragService.currentlyDragging.children;"
                                 [token]="child"></app-regex-token>
            </div>
        </app-regex-token>
    </app-dragging-element>
</app-card>
