<div class="d-flex flex-row mb-2">
    <app-regex-token [token]="token"></app-regex-token>
    <div class="d-flex flex-column ms-sm-1">
        <button mat-icon-button class="small" matTooltip="Rename variable">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="small" matTooltip="Remove variable" (click)="regexBuilder.removeVariable(token.name)">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
<app-simple-error [error]="regexBuilder.errors.get(token.name)"></app-simple-error>
