<app-card [title]="'Builder'">
    <app-simple-error *ngFor="let error of regexBuilder.generalErrors" [error]="error"></app-simple-error>

    <div class="ms-auto" cardHeader>
        <button mat-icon-button matTooltip="Add variable" (click)="regexBuilder.newVariable()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Clear all" (click)="regexBuilder.clear()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <app-regex-token [token]="regexBuilder.mainRegexToken"></app-regex-token>
    <p class="mat-error" *ngIf="regexBuilder.error">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        </svg>
        {{regexBuilder.error}}
    </p>

    <hr *ngIf="regexBuilder.userDefinedVariables.length !== 0"/>

    <app-regex-variable *ngFor="let variable of regexBuilder.userDefinedVariables"
                        [token]="variable"></app-regex-variable>

    <hr/>

    <app-regex-token-disposal>
        <app-available-tokens></app-available-tokens>
    </app-regex-token-disposal>

    <app-dragging-element *ngIf="dragService.currentlyDragging" [nestCount]="2">
        <app-regex-token [token]="dragService.currentlyDragging">
            <div class="children" *ngIf="dragService.currentlyDragging.acceptsChildren">
                <app-regex-token *ngFor="let child of dragService.currentlyDragging.children;"
                                 [token]="child"></app-regex-token>
            </div>
        </app-regex-token>
    </app-dragging-element>
</app-card>
